:root {
  --blue: #006a43;
  --black: #000000;
  --white: #ffffff;
  --baby-blue: #a9bdf6;
  --yellow: #ecbd23;
  --QA: #006a43;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  white-space: pre-wrap;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

.button {
  color: var(--white);
  background: var(--blue);
  font-weight: 500;
  min-height: 48px;
  min-width: 96px;
  padding: 14px 24px;
  font-family: "Roboto", sans-serif;
  border-radius: 1000px;
  text-decoration: none;
  padding: 1rem 1.5rem;
  font-size: 1.2em;
  text-transform: uppercase;
}

.container {
  max-width: 87.5rem;
  margin: 0 auto;
}

/****************** Global Styles ********************/

.hero-title-box {
  text-align: center;
  margin-top: 5em;
}

.hero-title-box h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.hero-title-box h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 6rem;
  text-transform: uppercase;
}

.hero-title-box h2 span {
  color: var(--blue);
}

.hero-title-box h1 span {
  color: var(--blue);
}

.hero-content-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.hero-content-box img {
  position: relative;
  top: -120px;
  display: block;
  width: 90%;
  margin: 0 auto;
}

.hero-content-box .content h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  width: 70%;
  line-height: 3rem;
}

.hero-content-box .content h2 span {
  color: var(--blue);
}

.hero-content-box .content #stars {
  color: var(--yellow);
  margin-right: 0.5rem;
}

.hero-content-box .content #reviews {
  color: var(--black);
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.hero-content-box .content p {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 70%;
  margin-bottom: 2.5rem;
}

/****************** Hero Styles ********************/

.bike-benefits {
  background: var(--black);
}

.benefits-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.bike-benefits .box {
  margin: 0px 0px 3rem 0px;
  text-align: center;
}

.bike-benefits .box .main-title {
  color: var(--white);
  font-family: "Oswald", sans-serif;
  font-family: 700;
  font-size: 2.5rem;
  display: block;
  margin-bottom: 2rem;
}

.bike-benefits .box .secondary-title {
  color: var(--blue);
  font-family: "Oswald", sans-serif;
  font-family: 700;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 2rem;
}

.bike-benefits .box p {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

/****************** Bike Benefits Styles ********************/
.testmonials {
  background: var(--white);
}

.testmonials-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.testmonials .box {
  margin: 3.5rem 0px 3rem 0px;
  text-align: center;
}

.main-title {
  color: var(--black);
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  display: block;
  margin-top: 2rem;
  text-align: center;
}

.testmonials .box #stars {
  color: var(--yellow);
  font-size: 1.3rem;
  display: block;
  margin-bottom: 1rem;
}

.testmonials .box p {
  color: var(--black);
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.testmonials .box .name {
  color: var(--black);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

/****************** Testmonials Styles ********************/

.QA {
  background-color: var(--QA);
  padding: 2rem 0rem;
}

.QA-title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem;
  color: var(--white);
  margin-bottom: 4rem;
}

.QA-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.QA-container .question-box {
  color: var(--white);
  border-bottom: 1px dotted var(--white);
  margin-bottom: 3rem;
}

.QA-container .question-box span {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.6em;
}

.QA-container .question-box p {
  font-family: "Roboto", sans-serif;
  margin: 1.5rem 0rem;
  font-size: 1em;
  line-height: 1.5rem;
}

.QA-container .question-box#question-4 {
  border: none;
}

.QA-image .img-box-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  margin-bottom: 1rem;
}

.QA-image .img-box-1 img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  border-radius: 12px;
}

.QA-image .img-box-2 img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  border-radius: 12px;
}

/****************** Q&A Styles ********************/

.buy-now {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6530987394957983) 0%,
      rgba(0, 0, 0, 0.6194852941176471) 40%
    ),
    url("/img/yotoEBikeBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 6rem;
}

.buy-now .bn-content {
  position: relative;
  top: 0px;
  text-align: center;
}

.buy-now .bn-content h3 {
  display: block;
  color: var(--white);
  font-size: 1.4rem;
  font-weight: normal;
  padding: 2rem 0rem 1rem 0rem;
  font-family: "Roboto", sans-serif;
}

.buy-now .bn-content span {
  display: block;
  color: var(--white);
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2rem 0rem 3rem 0rem;
  font-family: "Oswald", sans-serif;
}

/****************** Buy Now Styles ********************/

footer {
  background: var(--black);
  color: var(--white);
  text-align: center;
  padding: 2.5rem 0rem;
}

/****************** Footer  Styles ********************/

@media screen and (max-width: 1408px) {
  .testmonials {
    background: var(--white);
    padding: 0rem 1rem;
  }

  .bike-benefits {
    background: var(--black);
    padding: 0rem 1rem;
  }

  .QA-container {
    padding-left: 2rem;
  }

  .QA-container .question-box span {
    font-size: 1.5rem;
  }

  .QA-container .question-box p {
    margin: 1.5rem 0rem;
    font-size: 1.2rem;
  }

  .QA-container .question-box {
    color: var(--white);
    border-bottom: 1px dotted var(--white);
    margin-bottom: 1rem;
  }

  .QA-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
  }
  .QA-image .img-box-1 {
    width: 85%;
  }

  .QA-image .img-box-2 {
    width: 85%;
  }
}

@media screen and (max-width: 1280px) {
  .introduction {
    padding-bottom: 4rem;
  }

  .hero-content-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 1rem;
  }

  .hero-content-box img {
    position: relative;
    top: -40px;
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .hero-content-box .content p {
    max-width: 80%;
  }

  .QA-container .question-box span {
    font-size: 1.3rem;
  }

  .QA-container .question-box p {
    margin: 1.2rem 0rem;
    font-size: 1em;
  }
  .QA-image .img-box-1 {
    width: 90%;
  }

  .QA-image .img-box-2 {
    width: 90%;
  }

  .bike-benefits .box .secondary-title {
    color: var(--blue);
    font-family: "Oswald", sans-serif;
    font-family: 700;
    font-size: 1.3rem;
    display: block;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 920px) {
  .hero-title-box h1 {
    margin-bottom: 0rem;
    font-size: 3rem;
  }

  .hero-title-box h2 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  .hero-content-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
  }

  .hero-content-box .content {
    position: relative;
    top: -15%;
    padding: 0rem 6rem;
  }

  .hero-content-box .content h2 {
    width: 80%;
  }

  .hero-content-box img {
    position: relative;
    top: 0px;
    display: block;
    width: 75%;
    margin: 0 auto;
  }

  .benefits-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
    padding: 2rem 0rem 2.5rem 0rem;
  }

  .bike-benefits .box {
    margin: 0px 0px 1rem 0px;
    text-align: center;
  }

  .bike-benefits .box p {
    width: 70%;
    margin: 0 auto;
  }

  .testmonials {
    background: var(--white);
    padding: 1rem 1rem;
  }

  .testmonials-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
  }

  .testmonials .box {
    margin: 1rem 0px 1.5rem 0px;
    text-align: center;
  }

  .QA-container {
    padding: 0rem 4rem;
  }

  .QA-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
  }

  .QA-container .question-box span {
    font-size: 1.8rem;
  }

  .QA-container .question-box p {
    margin: 2rem 0rem;
  }

  .QA-image .img-box-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.2rem;
    margin-bottom: 1rem;
    width: 85%;
    margin: 0 auto;
  }

  .QA-image .img-box-2 {
    width: 85%;
    margin: 1rem auto 0 auto;
  }
}

@media screen and (max-width: 520px) {
  .hero-title-box h1 {
    margin-bottom: 0rem;
    font-size: 3rem;
  }

  .hero-title-box h2 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  .hero-content-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
  }

  .hero-content-box .content {
    position: relative;
    top: -10%;
    padding: 0rem 1.2rem;
  }

  .hero-content-box .content h2 {
    width: 100%;
  }

  .hero-content-box img {
    position: relative;
    top: 0px;
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .hero-content-box .content p {
    max-width: 100%;
  }

  .benefits-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
    padding: 2rem 0rem 2.5rem 0rem;
  }

  .bike-benefits .box {
    margin: 0px 0px 1rem 0px;
    text-align: center;
  }

  .bike-benefits .box p {
    width: 100%;
    margin: 0 auto;
  }

  .testmonials {
    background: var(--white);
    padding: 1rem 1rem;
  }

  .testmonials-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
  }

  .testmonials .box {
    margin: 1rem 0px 1.5rem 0px;
    text-align: center;
  }

  .QA {
    background-color: var(--QA);
    padding: 2rem 2rem;
  }

  .QA-container {
    padding: 0rem 0rem;
  }

  .QA-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
  }

  .QA-container .question-box span {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .QA-container .question-box p {
    margin: 2rem 0rem;
    line-height: 1.5rem;
  }

  .QA-image .img-box-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.2rem;
    margin-bottom: 1rem;
    width: 100%;
    margin: 0 auto;
  }

  .QA-image .img-box-2 {
    width: 100%;
    margin: 1.3rem auto 0 auto;
  }

  .buy-now {
    padding: 3rem;
  }
}
